/* write your override styles here */
#wall .tag-1 {
    display: none;
}

#wall .tag-2 {
    display: none;
}

#wall .tag-3 {
    background-color: green;
}

#wall .tag-4 {
    background-color: goldenrod;
}

#wall .tag-5 {
    font-family: sans-serif;
    color: blue;
    background-color: red;
    font-size: 10px;
}